.main-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.board-cell {
  border: 3px solid black;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
